<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Criando Campeonato!</title>
	<link rel="stylesheet" href="/css/forms.css">
	<link rel="icon" href="/img/favicon.jpg">
</head>

<body>
	<header>
		<h1>E-Sports Championship </h1>
	</header>
	<article>
		<h2> Criando o seu campeonato!</h2>
		<form  action='/home/homeUser/cadastraCamp' method='post'>
			Nome do Campeonato :
			<input type="text" name="nome" required='required' class="inputs"/>
			<br> Número de participantes :
			<input type="number" min='2' name="nEquipes" required='required' class="inputs">
			<br>
			<input type="submit" value=" Cadastrar " class="enviar">
		</form>
	</article>
</body>

</html>
