<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Criando Campeonato!</title>
	<link rel="stylesheet" href="/css/nCamp.css">
	<link rel="icon" href="/img/favicon.jpg">
</head>

<body>
	<header>
		<h1>E-Sports Championship </h1>
	</header>
	<article>
		<h2>Insira as equipes!</h2>
		<form  action='/home/homeUser/cadastraTimes' method='post'>
			<%for(var i=0; i < equipes[0].nEquipes;i++)  {%>
				Nome do time <%=i + 1%>  :
				<input type="text" name="nome" required='required' class="inputs"/>
				<br>
			<%}%>
			<input type="submit" value=" Cadastrar " class="enviar">
		</form>
	</article>
</body>

</html>
