<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ERROR</title>
		<link rel="stylesheet" href="/css/nCamp.css">
    <link rel="icon" href="/img/favicon.jpg">
	</head>
	<body>
		<header>
			<h1>E-Sports Championship </h1>
		</header>
		<article>
			<h2> Deu ruim 404!</h2>
		  <img src="/img/lol.jpeg">
		</article>
	</body>
</html>
