<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Criando Campeonato!</title>
		<link rel="stylesheet" href="css/nCamp.css">
	</head>
	<body>
		<header>
			<h1>E-Sports Championship </h1>
		</header>
		<article>
			<h2> Cadastrar</h2>
			<form action='/home/cadastraUser' method='post' id="nomeCnumP">
				Login :
				<input type="text" name="name" class="names"> <br>
				Senha :
				<input type="text" name="senha"> <br>
				<input type="submit" value="Cadastrar">

			</form>
		</article>
	</body>
</html>
