<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Campeonatos E-Sports</title>
	<link rel="stylesheet" href="/css/estiloMain.css">
  <link rel="icon" href="/img/favicon.jpg">
  </head>
  <body>
    <header>
      <h1>E-Sports Championship </h1>
    </header>
    <nav>
      <ul class='menu'>
    		<li><a href="">Criar campeonato!</a></li>
    		<li><a href="">Atualizar seus campeonatos</a></li>
    		<li><a href="#ultimos">Acompanhe os seus campeonatos!</a></li>
      </ul>
    </nav>
    <div id="principal">
    <article class="centro">
        <h2>Bem vindo!<%dadosUser.login%></h2>
        <p>De uma forma simples e rápida gerencie e/ou acompanhe os seus campeonatos.</p>
      <div id="atualizar">
        <h2>Clique no botão abaixo para atualizar os seus campeonatos : </h2>
        <form action="/home/atualiza" method="post">
    			<input type="submit" value="Atualizar">
			  </form>
	    </div>
      <div id="ultimos">
        <h2>Acompanhe aqui os seus campeonatos:</h2>
      </div>
       <div id="logo">
       </div>
    </article>
		</div>
	<script src=""></script>
  </body>

</html>
